.article
{
    margin:0 auto;
    width: 80%;
    padding-top: 10px;
    min-height: 600px;

}
.footer
{
  text-align: center;
  color: white;
  background-color: #333;
  clear: both;
}
.contact-form
{
    margin-bottom: 25px;
}
.input-field
{
  margin-top: 22px;
  width: 75%;
}
.btn-send-data
{
  margin-top: 10px;
}