<main class="article">
    <h1>Contact Us</h1>
    <form class="contact-form" [formGroup]="contactForm">
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>First name:</mat-label>
            <input  matInput placeholder="Your first name..." formControlName="firstName">
            <mat-error *ngIf="contactForm.get('firstName')?.hasError('required')">Please enter your first name</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Last name:</mat-label>
            <input matInput placeholder="Your last name..."  formControlName="lastName">
            <mat-error *ngIf="contactForm.get('lastName')?.hasError('required')">Please enter your last name</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>E-mail address:</mat-label>
            <input matInput placeholder="Your e-mail address..." formControlName="mail">
            <mat-error *ngIf="contactForm.get('mail')?.hasError('required') || contactForm.get('mail')?.hasError('email')">Please enter your e-mail address</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Message:</mat-label>
            <textarea  matInput placeholder="Your message to us..." cdkTextareaAutosize cdkAutosizeMinRows="10" 
             formControlName="message"></textarea>
            <mat-error *ngIf="contactForm.get('message')?.hasError('required')">Please enter message</mat-error>
        </mat-form-field> 
        <br>
        <button mat-button mat-raised-button color="primary" class="btn-send-data" (click)="submitData()" [disabled]="!enableSubmitBtn()">Send message</button>
    </form>
</main>
<div class="footer">
    <p>Copyright &copy; 2023 Luka Burić <br><a href="https://github.com/LukaBuricGithub/Napredne-tehnike-programiranja-web-servisa-.open-source-"><img src="../assets/img/GitHub-Mark-Light-32px.png" title="Github" alt="Github"></a></p>
</div>
