.article
{
    margin:0 auto;
    width: 80%;
    padding-top: 10px;
    min-height: 600px;

}
.footer
{
  text-align: center;
  color: white;
  background-color: #333;
  clear: both;
}
.btn-send-data
{
  margin-top: 10px;
}
.players
{
    border: 2px solid #3498db;
  border-radius: 10px;
}