<main class="article">
    <h1>Create account</h1>
    <form class="registration-form" [formGroup]="registrationForm">
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>E-mail address:</mat-label>
            <input matInput placeholder="Your e-mail address..." formControlName="email">
            <mat-error *ngIf="registrationForm.get('email')?.hasError('required') || registrationForm.get('email')?.hasError('email')">Please enter your e-mail address</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Username:</mat-label>
            <input matInput placeholder="Your username..."  formControlName="username">
            <mat-error *ngIf="registrationForm.get('username')?.hasError('required')">Please enter your username</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Password:</mat-label>
            <input matInput placeholder="Your password..."  formControlName="password">
            <mat-error *ngIf="registrationForm.get('password')?.hasError('required') || registrationForm.get('password')?.hasError('minlength')">Please enter your password</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Repeat password:</mat-label>
            <input matInput placeholder="Repeat your password..."  formControlName="confirmPassword">
            <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">Please Enter password:</mat-error>
        </mat-form-field>
        <br>
        <button mat-button mat-raised-button color="primary" class="btn-send-data" (click)="submitData()" [disabled]="!enableSubmitBtn()">Create account</button>
    </form>
</main>
<div class="footer">
    <p>Copyright &copy; 2023 Luka Burić <br><a href="https://github.com/LukaBuricGithub/Napredne-tehnike-programiranja-web-servisa-.open-source-"><img src="../assets/img/GitHub-Mark-Light-32px.png" title="Github" alt="Github"></a></p>
</div>

